@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  font-family: "Rubik", "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-weight: 300;
}

h1{
    font-weight: 500;
}

h2, h3{
    font-weight: 400;
}

#Work {
  background-image: url(./images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: top right;
  @apply bg-LightRedWork;
}

#Play {
  background-image: url(./images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: top right;
  @apply bg-PaleBlue;
}

#Study {
  background-image: url(./images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: top right;
  @apply bg-LightRedStudy;
}

#Exercise {
  background-image: url(./images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: top right;
  @apply bg-LimeGreenExercise;
}

#Social {
  background-image: url(./images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: top right;
  @apply bg-VioletSocial;
}

#SelfCare {
  background-image: url(./images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: top right;
  @apply bg-SoftOrangeSelfCare;
}

p {
  @apply hover:cursor-pointer;
}
